<!-- <h1>Modal</h1>
<app-modal></app-modal> -->

<!-- <div>
  <tabset>
    <tab heading="Basic title" id="tab1">Basic content</tab>
    <tab heading="Basic Title 1">Basic content 1</tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Employees Management App</a>
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a routerLink="/employees" routerLinkActive="active" class="nav-link"
          >Employees</a
        >
      </li> -->
      <li class="nav-item">
        <a routerLink="/departments" routerLinkActive="active" class="nav-link"
          >Departments</a
        >
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link"
          >About</a
        >
      </li> -->
    </ul>
    <!-- </div> -->
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
