<br/>
<div class="container">
  <h1>Departments</h1>
  <table
    *ngIf="departments && departments.length > 0"
    class="table table-hover"
  >
    <thead>
    <tr>
      <th>Department Id</th>
      <th>Department Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let department of departments">
      <td>{{ department.departmentId }}</td>
      <td>{{ department.departmentName }}</td>
      <td>
        <button
          (click)="openDialog(); dataShareService.setDepartmentId(department.departmentId)"
          class="btn btn-primary btn-sm"
          style="margin-right: 5px"
          type="button"
        >
          Edit
        </button>
        <button class="btn btn-danger btn-sm" type="button">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- <h1 *ngIf="departments.length === 0">No departments found...!</h1> -->
</div>
